DATABASE_URL="postgresql://postgres:password@localhost:5432/ods_portal?schema=public"
JWT_SECRET="change_me_super_secret_2026_ods"
JWT_REFRESH_SECRET="change_me_refresh_secret_2026"
PORT=3001
NODE_ENV=development
FRONTEND_URL="http://localhost:3000"
